<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table id="dg" class="easyui-treegrid"
       data-options="singleSelect:true,method:'get',toolbar:'#tb',url:'organization/showAll',idField:'id',treeField:'name'">
    <thead>
    <tr>
        <th data-options="field:'id'" hidden=true></th>
        <th data-options="field:'name'" width="10%">机构名称</th>
        <th data-options="field:'type'" width="5%">机构类型</th>
        <th data-options="field:'code'" width="10%">机构编码</th>
        <th data-options="field:'principalName'" width="10%">负责人</th>
        <th data-options="field:'some'" width="10%">业务覆盖区域</th><!--TODO:unknow column-->
        <th data-options="field:'address'" width="10%">地址</th>
        <th data-options="field:'phone'" width="10%">电话号码</th>
        <th data-options="field:'postCode'" width="10%">邮政编码</th>
        <th data-options="field:'fax'" width="5%">传真号</th>
        <th data-options="field:'createTime',formatter: formatDatebox" width="10%">创建时间</th>
        <th data-options="field:'modifyTime',formatter: formatDatebox" width="10%">修改时间</th>

    </tr>
    </thead>
</table>

<div id="tb" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addAttrInfo()">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editAttrInfo()">编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeOneRow()">删除</a>
    </div>


</div>


<div id="dlg" class="easyui-dialog" title="机构详细信息" style="width:600px;height:400px;"
     closed="true" data-options="resizable:true,modal:true" buttons="#bb">

    <center>
        <div>
            <br/>
            <label>上级机构</label>
            <select id="parent" class="easyui-combobox" style="width:230px"
                    data-options="valueField:'id',textField:'name',url:'/organization/getAllIds'"></select>

            <br/>
            <label>机构类型</label>
            <select id="type" class="easyui-combobox" style="width:230px"
                    data-options="valueField:'type',textField:'type',url:'/organization/getAllIds'"></select>
            <!--TODO:查询机构表,待改-->

            <br/>
            <label>负责人</label>
            <select id="principal" class="easyui-combobox" style="width:230px"
                    data-options="valueField:'principalId',textField:'name',url:'/organization/getAllIds'">
                <!--TODO:查询负责人表，待改-->
            </select>
        </div>
            <form id="attrForm">

                <input id="id" name="id"   type="hidden"/>
                <label>机构名称 </label>
                <input id="name" name="name"  style="width:230px"/>

                <br/>
                <label>地址</label>
                <input id="address" name="address" style="width:230px"/>

                <br/>
                <label>电话号码 </label>
                <input id="phone" name="phone"  style="width:230px"/>

                <br/>
                <label>邮政编码</label>
                <input id="postCode" name="postCode"  style="width:230px"/>

                <br/>
                <label>传真号</label>
                <input id="fax" name="fax"  style="width:230px"/>

                <br/>
                <label>排序</label>
                <input id="orderNo" name="orderNo"  style="width:230px"/>

            </form>

    </center>
</div>

<div id="bb">
    <a href="#" class="easyui-linkbutton" onclick="saveInfo()">
        保存</a>
    <a href="#" class="easyui-linkbutton" onclick="unSaveClose()"> 关闭</a>
</div>

</body>


<script type="text/javascript">




    function saveInfo() {
        /* $("#attrForm").submit();*/
        var info = {};
        info["id"] = $("#id").val();
        info["name"] = $("#name").val();
        info["address"] = $("#address").val();
        info["phone"] = $("#phone").val();
        info["postCode"] = $("#postCode").val();
        info["fax"] = $("#fax").val();
        info["orderNo"] = $("#orderNo").val();

        info["parentId"] = $("#parent").combobox("getValue");
        info["type"] = $("#type").combobox("getValue");
        info["principalId"] = $("#principal").combobox("getValue");
        $.post("/organization/addOne", info, function (data) {
            if (data == 'success') {
                console.log("保存成功");
                reloadData();
            } else {
                $.messager.alert('错误', '保存失败', 'warning');
                console.log("保存失败");
            }
            $("#dlg").dialog("close");
        });

    }

    function removeOneRow() {
       if(!checkBeforeDialog()){
           return ;
       }

        var grid = $("#dg");
        var  attrInfoRow=grid.treegrid('getSelected');
        console.log("attrInfoRow="+JSON.stringify(attrInfoRow));

        grid.treegrid('remove', attrInfoRow.id);
        //发送post请求，删除数据

        $.post("/organization/delOne", {"id": attrInfoRow.id}, function (data) {

        });


    }

    function unSaveClose() {
        $("#dlg").dialog("close");

    }

    /*<![CDATA[*/
    function  reloadData() {

        $('#dg').treegrid({url:'organization/showAll' });
    }

    /*]]>*/
    function addAttrInfo() {

        //弹出框
        $("#dlg").dialog("open");

        //进系统前先清空
        $("#id").val("");
        $("#name").val("");
        $("#address").val("");
        $("#phone").val("");
        $("#postCode").val("");
        $("#fax").val("");
        $("#orderNo").val("");

        $("#parent").combobox('clear');
        $("#principal").combobox('clear');
        $("#parent").combobox('clear');



    }

    function editAttrInfo() {

        if (!checkBeforeDialog()) {
            return;
        }
        //弹出框
        $("#dlg").dialog("open");

        //进页面前先加载数据
        var attrInfoRow =  $("#dg").treegrid("getSelected");
        console.log(JSON.stringify(attrInfoRow));
        $("#id").val(attrInfoRow.id);
        $("#name").val(attrInfoRow.name);
        $("#address").val(attrInfoRow.address);
        $("#phone").val(attrInfoRow.phone);
        $("#postCode").val(attrInfoRow.postCode);
        $("#fax").val(attrInfoRow.fax);
        $("#orderNo").val(attrInfoRow.orderNo);

        $("#parent").combobox('select',attrInfoRow.parentId);
        $("#type").combobox('select',attrInfoRow.type);
        $("#principal").combobox('select',attrInfoRow.principalId);


    }


    function checkBeforeDialog() {
        var attrInfoRow = $("#dg").treegrid('getSelected');
        if (attrInfoRow == null) {
            $.messager.alert('警告', '选择要操作的数据', 'warning');
            return false;
        }
        return true;
    }




</script>


</html>