<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table id="dg_posi" class="easyui-treegrid"
       data-options="singleSelect:true,method:'get',toolbar:'#tb_posi',url:'position/showAll',idField:'id',treeField:'name'">
    <thead>
    <tr>
        <th data-options="field:'id'" hidden=true></th>
        <th data-options="field:'name'" width="10%">职位名称</th>
        <th data-options="field:'type'" width="10%">职位类型</th>
        <th data-options="field:'description'" width="40%">职位描述</th>
        <th data-options="field:'createTime',formatter: formatDatebox" width="20%">创建时间</th>
        <th data-options="field:'modifyTime',formatter: formatDatebox" width="20%">修改时间</th>


    </tr>
    </thead>
</table>

<div id="tb_posi" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addAttrInfo()">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editAttrInfo()">编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeOneRow()">删除</a>
    </div>


</div>


<div id="dlg_posi" class="easyui-dialog" title="职位详细信息" style="width:600px;height:400px;"
     closed="true" data-options="resizable:true,modal:true" buttons="#bb_posi">

    <center>
        <div>
            <br/>
            <label>上级职位</label>
            <select id="parent_posi" class="easyui-combobox" style="width:230px"
                    data-options="valueField:'id',textField:'name',url:'/position/getAvailableParents'"></select>

            <br/>
            <label>职位类型</label>
            <select id="type_posi" class="easyui-combobox" style="width:230px"
                    data-options="valueField:'id',textField:'name',url:'/position/getAvailableTypes'"></select>


        </div>
            <form id="attrForm_posi">

                <input id="id_posi" name="id"   type="hidden"/>
                <label>职位名称 </label>
                <input id="name_posi" name="name"  style="width:230px"/>

                <br/>
                <label>职位描述</label>
                <input id="description_posi" name="description" style="width:230px"/>

                <br/>
                <label>排序</label>
                <input id="orderNo_posi" name="orderNo"  style="width:230px"/>

            </form>

    </center>
</div>

<div id="bb_posi">
    <a href="#" class="easyui-linkbutton" onclick="saveInfo()">
        保存</a>
    <a href="#" class="easyui-linkbutton" onclick="unSaveClose()"> 关闭</a>
</div>

</body>


<script type="text/javascript">




    function saveInfo() {

        var info = {};
        info["id"] = $("#id_posi").val();
        info["name"] = $("#name_posi").val();
        info["description"] = $("#description_posi").val();
        info["orderNo"] = $("#orderNo_posi").val();

        info["parentId"] = $("#parent_posi").combobox("getValue");
        info["type"] = $("#type_posi").combobox("getValue");
        $.post("/position/addOne", info, function (data) {
            if (data == 'success') {
                console.log("保存成功");
                reloadData();
            } else {
                $.messager.alert('错误', '保存失败', 'warning');
                console.log("保存失败");
            }
            $("#dlg_posi").dialog("close");
        });

    }

    function removeOneRow() {
       if(!checkBeforeDialog()){
           return ;
       }

        var grid = $("#dg_posi");
        var  attrInfoRow=grid.treegrid('getSelected');
        console.log("attrInfoRow="+JSON.stringify(attrInfoRow));

        grid.treegrid('remove', attrInfoRow.id);
        //发送post请求，删除数据

        $.post("/position/delOne", {"id": attrInfoRow.id}, function (data) {

        });


    }

    function unSaveClose() {
        $("#dlg_posi").dialog("close");

    }

    /*<![CDATA[*/
    function  reloadData() {

        $('#dg_posi').treegrid({url:'position/showAll' });
    }

    /*]]>*/
    function addAttrInfo() {

        //弹出框
        $("#dlg_posi").dialog("open");

        //进系统前先清空
        $("#id_posi").val("");
        $("#name_posi").val("");
        $("#description_posi").val("");


        $("#orderNo_posi").val("");


    }

    function editAttrInfo() {

        if (!checkBeforeDialog()) {
            return;
        }
        //弹出框
        $("#dlg_posi").dialog("open");

        //进页面前先加载数据
        var attrInfoRow =  $("#dg_posi").treegrid("getSelected");
        console.log(JSON.stringify(attrInfoRow));
        $("#id_posi").val(attrInfoRow.id);
        $("#name_posi").val(attrInfoRow.name);
        $("#description_posi").val(attrInfoRow.description);
        $("#orderNo_posi").val(attrInfoRow.orderNo);

        $("#parent_posi").combobox('select',attrInfoRow.parentId);
        $("#type_posi").combobox('select',attrInfoRow.type);


    }


    function checkBeforeDialog() {
        var attrInfoRow = $("#dg_posi").treegrid('getSelected');
        if (attrInfoRow == null) {
            $.messager.alert('警告', '选择要操作的数据', 'warning');
            return false;
        }
        return true;
    }




</script>


</html>